@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<html>
    <head>
      <title>Profile</title>
    </head>
    <body>
        <ul>
            <li>FName : @Model.Fname</li>
            <li>LName : @Model.LName</li>
            <li>Address: @Model.Address</li>
            <li>Gender: @Model.Gender</li>
            <li>BDate : @Model.BDate</li>
            <li>Salary : @Model.Salary</li>
            <li>Supervisor:@Model.Super</li>

        </ul>
    <button class="btn btn-primary"><a href="/Dependent/Dependent" class="btn btn-primary">Dependent</a></button>
    @if (Model.manager==Model.SSN)
    {
        <button class="btn btn-primary"><a asp-action="DepartmentDetails" asp-controller="Department"  class="btn btn-primary">Department</a></button>
    }

    </body>
</html>